@import 'tailwindcss';

@theme {
  /* Uncategorized Colors */
  --color-background:#011728;
  --color-negative:#E2695C;
  --color-positive:#5279BD;
  --color-neutral:#D3E67E;
  --color-chart1:#80BF56;
  --color-chart2:#AF5C97;


  /* Primary Colors */
  --color-primary-50: #F5F7F9;
  --color-primary-100: #E7ECF2;
  --color-primary-200: #D5DCE8;
  --color-primary-300: #B8C6D8;
  --color-primary-400: #96A9C4;
  --color-primary-500: #7D90B4;
  --color-primary-600: #6B7BA5;
  --color-primary-700: #616E9A;
  --color-primary-800: #515A7C;
  --color-primary-900: #444B64;
  --color-primary-950: #2C303F;


  /* Secondary Colors */
  --color-secondary-50: #F5F6F8;
  --color-secondary-100: #ECEEF3;
  --color-secondary-200: #DDDFE8;
  --color-secondary-300: #C7CADA;
  --color-secondary-400: #B0B2C9;
  --color-secondary-500: #9697B6;
  --color-secondary-600: #8684A7;
  --color-secondary-700: #747191;
  --color-secondary-800: #5F5D76;
  --color-secondary-900: #4F4F60;
  --color-secondary-950: #2E2E38;


    /* tetiary Colors */
    --color-tetiary-50: #F4F4F9;
    --color-tetiary-100: #ECECF3;
    --color-tetiary-200: #DCDCE9;
    --color-tetiary-300: #C4C5DA;
    --color-tetiary-400: #AFAECB;
    --color-tetiary-500: #9D99BB;
    --color-tetiary-600: #8982A9;
    --color-tetiary-700: #776F93;
    --color-tetiary-800: #615B78;
    --color-tetiary-900: #514D62;
    --color-tetiary-950: #302D39;

  /* System Colors */
  --color-system-danger: #c22b20;
  --color-system-warning: #ffe949;
  --color-system-success: #00c380;
  --color-system-info: #4fa5ff;

  /* Gray Colors */
  --color-gray-0: #ffffff;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #e0e0e0;
  --color-gray-300: #cccccc;
  --color-gray-400: #afafaf;
  --color-gray-500: #8c8c8c;
  --color-gray-600: #6b6b6b;
  --color-gray-700: #4e4e4e;
  --color-gray-800: #2c2c2c;
  --color-gray-900: #000000;

  /* Shadow 설정 */
  --shadow-xxsmall: 0px 2px 14px 2px rgba(33, 33, 33, 0.03);
  --shadow-xsmall: 0px 2px 12px 1px rgba(33, 33, 33, 0.09);
  --shadow-small: 0px 3px 6px 0px rgba(33, 33, 33, 0.23);
  --shadow-medium: 0px 8px 18px 0px rgba(33, 33, 33, 0.14);
  --shadow-large: 0px 8px 20px 0px rgba(33, 33, 33, 0.22);
  --shadow-xlarge: 0px 8px 24px 0px rgba(33, 33, 33, 0.37);
  --shadow-light: 0px 1px 12px 0px rgba(227,228,255,0.8);
}

@layer utilities {
  /* Display */
  .display-xlarge {
    font-family: 'Pretendard', sans-serif;
    font-weight: 600; /* SemiBold */
    font-size: 72px;
    line-height: 74px;
  }

  .display-large {
    font-family: 'Pretendard', sans-serif;
    font-weight: 600; /* SemiBold */
    font-size: 64px;
    line-height: 70px;
  }

  .display-medium {
    font-family: 'Pretendard', sans-serif;
    font-weight: 600; /* SemiBold */
    font-size: 48px;
    line-height: 54px;
  }

  .display-small {
    font-family: 'Pretendard', sans-serif;
    font-weight: 600; /* SemiBold */
    font-size: 40px;
    line-height: 44px;
  }

  /* Headline */
  .headline-xlarge {
    font-family: 'Pretendard', sans-serif;
    font-weight: 600; /* SemiBold */
    font-size: 32px;
    line-height: 36px;
  }

  .headline-large {
    font-family: 'Pretendard', sans-serif;
    font-weight: 600; /* SemiBold */
    font-size: 26px;
    line-height: 30px;
  }

  .headline-medium {
    font-family: 'Pretendard', sans-serif;
    font-weight: 600; /* SemiBold */
    font-size: 22px;
    line-height: 26px;
  }

  .headline-small {
    font-family: 'Pretendard', sans-serif;
    font-weight: 600; /* SemiBold */
    font-size: 18px;
    line-height: 24px;
  }

  /* Body */
  .body-medium {
    font-family: 'Pretendard', sans-serif;
    font-weight: 400; /* Regular */
    font-size: 16px;
    line-height: 24px;
  }

  .body-medium-bold {
    font-family: 'Pretendard', sans-serif;
    font-weight: 700; /* Regular */
    font-size: 16px;
    line-height: 24px;
  }

  .body-small {
    font-family: 'Pretendard', sans-serif;
    font-weight: 400; /* Regular */
    font-size: 14px;
    line-height: 20px;
  }

  /* Caption */
  .caption-medium {
    font-family: 'Pretendard', sans-serif;
    font-weight: 400; /* Regular */
    font-size: 12px;
    line-height: 16px;
  }

  .caption-small {
    font-family: 'Pretendard', sans-serif;
    font-weight: 400; /* Regular */
    font-size: 10px;
    line-height: 12px;
  }

}

body {
  font-family: 'Pretendard', sans-serif;
  color: rgb(255, 255, 255);
  margin: 0px;
}


